<div class="d-flex justify-content-between align-items-center">
  <h2 mat-dialog-title>Theme Settings</h2>
  <button mat-icon-button class="mr-10" mat-dialog-close>
    <iconify-icon icon="line-md:close-small"></iconify-icon>
  </button>
</div>
<mat-dialog-content class="mb-10">
  <div class="px-24">
    <div class="f-s-14">
      Predefined Theme
    </div>
    <div class="theme-colors gap-24">
      @for (theme of themeService.definedThemes; track $index) {
      <span [class]="'theme-color-item ' + theme.colorClass" matTooltip="{{ theme.name}}"
        (click)="selectTheme(theme.themeClass,$event.target)"></span>
      }
      <button mat-icon-button matTooltip="Default Theme"
        (click)="resetTheme()"><iconify-icon icon="material-symbols-light:device-reset"></iconify-icon></button>
    </div>
  </div>

  <div class="px-24">
    <div class="f-s-14">
      Custom Theme
    </div>
    <div class="d-flex" [formGroup]="customTheme">
      <ngx-colors ngx-colors-trigger [hideTextInput]="false" style="display: inline-block; margin:5px;"
        formControlName="primary" matTooltip="Primary"></ngx-colors>
      <ngx-colors ngx-colors-trigger [hideTextInput]="false" style="display: inline-block; margin:5px;"
        formControlName="primaryLight" matTooltip="Primary Light"></ngx-colors>
      <ngx-colors ngx-colors-trigger [hideTextInput]="false" style="display: inline-block; margin:5px;"
        formControlName="ripple" matTooltip="Ripple"></ngx-colors>
      <ngx-colors ngx-colors-trigger [hideTextInput]="false" style="display: inline-block; margin:5px;"
        formControlName="primaryDark" matTooltip="Primary Dark"></ngx-colors>
      <ngx-colors ngx-colors-trigger [hideTextInput]="false" style="display: inline-block; margin:5px;"
        formControlName="background" matTooltip="Background"></ngx-colors>
      <ngx-colors ngx-colors-trigger [hideTextInput]="false" style="display: inline-block; margin:5px;"
        formControlName="error" matTooltip="Error"></ngx-colors>
      <button mat-button (click)="applyTheme()">Apply</button>
    </div>
  </div>
