<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
  (click)="toggleSidebar.emit()">
    @if (!sidebarService.isSidebarExpanded() || layoutService.isHandset()){
      <iconify-icon icon="line-md:menu-fold-right"></iconify-icon>
    } @else {
      <iconify-icon icon="line-md:menu-fold-left"></iconify-icon>
    }
  </button>
  <div class="main-header">
    <div class="main-header-title">
      <ng-content select="header-title"></ng-content>
    </div>
    <div class="main-header-actions">
      <ng-content select="header-actions"></ng-content>
      <avatar shape="circle" size="" [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></avatar>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
