<div class="auth-container login-bg">
  <div class="auth-theme-switch">
    <button mat-icon-button (click)="toggleTheme()">
      @if (themeService.darkMode()){
      <iconify-icon icon="line-md:sunny-outline-to-moon-loop-transition"></iconify-icon>
      } @else {
      <iconify-icon icon="line-md:moon-to-sunny-outline-loop-transition"></iconify-icon>
      }
    </button>
  </div>
  <mat-card class="cardWithShadow boxed-auth glass">
    <mat-card-content class="p-32">
      <div class="text-center brand-logo d-flex align-items-center justify-content-center">
        <svg width="200px" height="200px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.5708 20C19.8328 20 20.8568 18.977 20.8568 17.714V13.143L21.9998 12L20.8568 10.857V6.286C20.8568 5.023 19.8338 4 18.5708 4M5.429 4C4.166 4 3.143 5.023 3.143 6.286V10.857L2 12L3.143 13.143V17.714C3.143 18.977 4.166 20 5.429 20M7.5 12H7.51M12 12H12.01M16.5 12H16.51M8 12C8 12.2761 7.77614 12.5 7.5 12.5C7.22386 12.5 7 12.2761 7 12C7 11.7239 7.22386 11.5 7.5 11.5C7.77614 11.5 8 11.7239 8 12ZM12.5 12C12.5 12.2761 12.2761 12.5 12 12.5C11.7239 12.5 11.5 12.2761 11.5 12C11.5 11.7239 11.7239 11.5 12 11.5C12.2761 11.5 12.5 11.7239 12.5 12ZM17 12C17 12.2761 16.7761 12.5 16.5 12.5C16.2239 12.5 16 12.2761 16 12C16 11.7239 16.2239 11.5 16.5 11.5C16.7761 11.5 17 11.7239 17 12Z"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span class="ml-10 f-s-20 syncopate">Console API</span>
      </div>

      <form class="mt-30" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100 mb-10" color="primary">
          <mat-label>Username</mat-label>
          <input matInput formControlName="userName" />
          @if (loginForm.controls.userName.hasError("required")) {
          <mat-error>Please enter a valid username</mat-error>
          }
        </mat-form-field>
        <!-- password -->
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          @if (loginForm.controls.password.hasError("required")) {
          <mat-error>Please enter a password</mat-error>
          }
        </mat-form-field>
        <!-- <ul>
          <li [class.valid]="!loginForm.controls.password.hasError('required')">Password is required</li>
          <li [class.valid]="!loginForm.controls.password.hasError('minlength')">At least 8 characters</li>
          <li [class.valid]="!loginForm.controls.password.hasError('maxlength')">No more than 20 characters</li>
          <li [class.valid]="!loginForm.controls.password.hasError('pattern')">
            Contains at least one uppercase letter and one number
          </li>
        </ul> -->
        <div class="row justify-content-end">
          <div class="col-5">
            <button type="submit" class="w-100" mat-flat-button color="primary">Sign
              In</button>
          </div>
        </div>
        <!-- input -->
      </form>
      <span class="d-block f-w-500 text-center mt-24">New to Template?
        <a [routerLink]="['/']" class="text-decoration-none text-primary f-w-500 f-s-14">
          Create an account</a>
      </span>
      <span class="d-block f-w-500 text-center mt-24">
        <a [routerLink]="['/loginalt']" class="text-decoration-none text-primary f-w-500 f-s-14">
          Alternate Login Page</a>
      </span>
    </mat-card-content>
  </mat-card>
</div>
