<div class="col my-10">
  <div class="row gap-10">
    <div class="col-md-3">
      <app-card [animateCard]="true"></app-card>
    </div>
    <div class="col-md-3">
      <app-card [animateCard]="true"></app-card>
    </div>
    <div class="col-md-3">
      <app-card [animateCard]="true"></app-card>
    </div>
    <div class="col-md-3">
      <app-card [animateCard]="true"></app-card>
    </div>
    <div class="col-md-3">
      <app-card [animateCard]="true"></app-card>
    </div>

  </div>
</div>
