// Define a dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$blue-palette,
    ),
  )
);

// Define a light theme
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
    ),
  )
);

.blue-theme-primary {
  background-color: mat.get-theme-color($light-theme, primary, 50);
}

.blue-theme {
  @include mat.all-component-colors($light-theme);
  @include mat.color-variants-backwards-compatibility($light-theme);
}

.blue-theme.dark {
  @include mat.all-component-colors($dark-theme);
  @include mat.color-variants-backwards-compatibility($dark-theme);
}
