@use 'variables';

$utilities: (
  'flex': (
    property: flex,
    class: flex,
    values: (
      fill: 1 1 auto)
  ),
  'flex-direction': (
    property: flex-direction,
    class: flex-direction,
    values: (
      row: row,
      column:column,
      row-reverse:row-reverse,
      column-reverse:column-reverse
    )
  ),
  'justify-content': (
    property: justify-content,
    class: justify-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
    )
  ),
  'align-items': (
    property: align-items,
    class: align-items,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )
  ),
  'justify-self': (
    property: justify-self,
    class: justify-self,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
    )
  ),
  'align-self': (
    property: align-self,
    class: align-self,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )
  ),
);

.flex-wrap{
  flex-wrap: wrap;
}
